@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 400px) {
  .background-gradient::before {
    background: radial-gradient(
      20% 50% at 50% 50%,
      rgba(77, 242, 82, 0.376) 0%,
      rgba(53, 63, 52, 0) 100%
    );
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
}

.aurora {
  background: rgb(255, 207, 237);
  background: linear-gradient(
    90deg,
    rgba(255, 207, 237, 0.3) 0%,
    rgba(211, 247, 212, 0.3) 18%,
    rgba(255, 239, 229, 0.3) 34%,
    rgba(248, 252, 219, 0.3) 51%,
    rgba(183, 191, 250, 0.3) 69%,
    rgba(211, 249, 255, 0.3) 85%,
    rgba(207, 199, 255, 0.3) 100%
  );
  padding: 20px 10px;
}
